.block {
  margin: 10px;
  padding: 5px;
}
.account-area > .content {
  margin: 0 30%;
}
.bucket {
  padding: 5px;
  text-align: center;
}
.bucket.gray {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
.bucket > p{
  text-align: right;
  font-size: 20px;
  margin: 0px;
  letter-spacing: 3px;
  color: #b3b3b3;
}
.bucket > p >img {
  width: 5%;
}

.bucket > div.dollar::before {
  content: '$ ';
}
.bucket > div.dollar {
  font-size: 50px;
  font-weight: bold;
  padding: 20px 5px;
}

.bucket.income {
  color: #078c6a;
}

.bucket.expense {
  color: #ef5f5f;
}
